RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

RewriteRule ^$ /public/ [L]
RewriteRule ^img/(.*)$ /public/img/$1 [L,NC]
RewriteRule ^css/(.*)$ /public/css/$1 [L,NC]

Options -Indexes