/* stylelint-disable media-query-no-invalid */

/* From: https://github.com/jgthms/bulma/blob/master/sass/utilities/mixins.sass */
@use 'variables';

/** Responsive **/
@mixin from($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

@mixin until($device) {
    @media screen and (max-width:($device - 1px)) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: (variables.$tablet - 1px)) {
        @content;
    }
}

@mixin tablet {

    @media screen and (min-width: variables.$tablet),
    print {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: variables.$tablet) and (max-width: (variables.$desktop - 1px)) {
        @content;
    }
}

@mixin touch {
    @media screen and (max-width: (variables.$desktop - 1px)) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: variables.$desktop) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: variables.$desktop) and (max-width: (variables.$widescreen - 1px)) {
        @content;
    }
}

@mixin until-widescreen {
    @media screen and (max-width: (variables.$widescreen - 1px)) {
        @content;
    }
}

@mixin widescreen {
    @media screen and (min-width: variables.$widescreen) {
        @content;
    }
}

@mixin widescreen-only {
    @media screen and (min-width: variables.$widescreen) and (max-width: (variables.$fullhd - 1px)) {
        @content;
    }
}

@mixin until-fullhd {
    @media screen and (max-width: (variables.$fullhd - 1px)) {
        @content;
    }
}

@mixin fullhd {
    @media screen and (min-width: variables.$fullhd) {
        @content;
    }
}

/** Other **/
@mixin clamp($line: 1) {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin not-support-hover {
    @media (hover: none) {
        @content;
    }
}

@mixin support-hover {
    @media (hover: hover) {
        @content;
    }
}

@mixin light-color-scheme {
    @media (prefers-color-scheme: light) {
        @content;
    }
}